name: check

on:
  pull_request:
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "npm"

      - run: npm ci
      - run: npm run tsc
      - run: npm run lint
      - run: npm run test
      - run: npm run build
      - run: npm run size

  e2e-react:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "npm"

      - run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Smoke test stories
        run: npm run storybook:test
      - name: Run Playwright tests
        run: npm run e2e
      # - uses: actions/upload-artifact@v3
      #   if: always()
      #   with:
      #     name: playwright-report
      #     path: playwright-report/
      #     retention-days: 30

  e2e-vue:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "npm"

      - run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install chromium --with-deps
      - name: Smoke test stories
        run: STORYBOOK_VUE=1 npm run storybook:test

  e2e-solid:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "npm"

      - run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install chromium --with-deps
      - name: Smoke test stories
        run: STORYBOOK_SOLID=1 npm run storybook:test

  e2e-svelte:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "npm"

      - run: npm ci
      - run: npm run check:svelte
      - name: Install Playwright Browsers
        run: npx playwright install chromium --with-deps
      - name: Smoke test stories
        run: STORYBOOK_SVELTE=1 npm run storybook:test
